body{
    display: grid;
    grid-template-areas: 
    "header header header"
    "main main main"
    "article article article"
    "footer footer footer"
    ;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}



header{
    display: flex;
    grid-area: header;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}
header p{
    margin-left: 20px;
    font-size: 30px;
    font-weight: 700;
}
header ul{
    list-style-type: none;
    display: flex;
    margin-right: 20px;
    
}
header li{
    margin-left: 40px;
}



main{
    display: flex;
    grid-area: main;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-bottom: 50px;
}
main h1{
    font-size: 40px;
}

main p{
    text-align: center;
    width: 600px;
    font-size: 20px;
}




img {
    width: 200px;
    height: auto;
}
article{
    display: flex;
    grid-area: article;
    justify-content: space-between;
}

article .cards{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}




footer{
    margin-top: 100px;
    display: flex;
    grid-area: footer;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}
.footer-p {
    display: flex;
}
footer p {
        margin: 0 20px;
}
footer h2{
    margin-left: 20px;
}
.footer-images{
     margin-right: 20px;
}
.footer{
    width: 40px;
    height: auto;
    margin-left: 20px;
}